//! **************************************************************************
// Written by: Map P.28xd on Fri May 22 11:07:50 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "T5" LEVEL 1;
COMP "lowpass_en" LOCATE = SITE "M8" LEVEL 1;
COMP "echo_en" LOCATE = SITE "V8" LEVEL 1;
COMP "i2s_mclk" LOCATE = SITE "H3" LEVEL 1;
COMP "mic_ncs" LOCATE = SITE "T12" LEVEL 1;
COMP "i2s_sclk" LOCATE = SITE "K6" LEVEL 1;
COMP "echo_en_rd" LOCATE = SITE "U8" LEVEL 1;
COMP "mic_sData" LOCATE = SITE "N10" LEVEL 1;
COMP "i2s_en" LOCATE = SITE "T10" LEVEL 1;
COMP "mic_en" LOCATE = SITE "T9" LEVEL 1;
COMP "mic_sclk" LOCATE = SITE "P11" LEVEL 1;
COMP "i2s_sdata" LOCATE = SITE "G3" LEVEL 1;
COMP "i2s_lrclk" LOCATE = SITE "L7" LEVEL 1;
COMP "pitch_en" LOCATE = SITE "V9" LEVEL 1;
SCHEMATIC END;

